@font-face {font-family: "Futura Md BT";
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot");
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.svg#Futura Md BT") format("svg");
}

@font-face {font-family: "Futura Thin";
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot");
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.svg#Futura Thin") format("svg");
}

@font-face {
    font-family: "Futura Md BT";
    src: url("{{asset('eve/assets/fonts/futur.ttf')}}");
}

@font-face {font-family: "Futura Regular";
    src: url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.eot");
    src: url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/02a0efa4275f78836dfc89db9e21feea.svg#Futura Book") format("svg");
}

@font-face {font-family: "Futura-Bold";
    src: url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.eot");
    src: url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.svg#Futura-Bold") format("svg");
}

@font-face {font-family: "Futura ICG";
    src: url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.eot");
    src: url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/cd8f6d68932aa055914a429907c639b6.svg#Futura ICG") format("svg");
}
@font-face {
    font-family: Futura Md BT;
    src: url("/eve/assets/fonts/futura_medium_bt.ttf");
}

body{
    font-family: Futura Md BT;
}
.card_text p{
    font-family: Futura Md BT;
    color: #fff;
}

.list-unstyled {
    color: #787878 !important;
    font-weight: 400;
    font-size: 14px;
}
.list-unstyled a{
    color: #000 !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
}


video {
    width: 610px;
    height: 395px;
}

hr {
    color: black;
    width: 100%;
}

.bg-light {
    background-color: white !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 50px 0 rgba(0, 0, 0, 0.12) !important;
}
.newsletter{
    text-align: center;
}
p {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(238, 46, 95);
    font-weight: 600;
    letter-spacing: 2px;
}

.article {
    float: left;
    width: 20%;
    padding-top: 15px;
    margin-right: 0px;
}

.byline {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999;
    text-align: left;
    font-weight: 400;
}

.bycolor {
    color: #ee2e60;
}


.bylinepic {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999;
    text-align: left;
    font-weight: 400;
    margin-top: 29%;
    margin-left: 5%;
    position: absolute;
}
.leisure {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fcfcfc;
    text-align: left;
    font-weight: 400;
    position: absolute;
    margin-top: 63%;
    margin-left: 7%;
}

.travel{
    position: absolute;
    margin-top: 73%;
    padding: 10% 10% 20px;
    margin-left: 0;
    height: 90px;
    margin-bottom: 1%;
    background: #ee2e60;
    color: #fff;
}

@media only screen and (max-width: 600px) {

    .travel{
        position: absolute;
        margin-top: 80%;
        padding: 1% 10% 20px;
        margin-left: 0;
        background: #ee2e60;
        width: 100%;
    }
}

.card{
    background:none;
}

.bycolorpic {
    color: #ee2e60;
}

.pictext {
    margin-top: 34%;
    margin-left: 5%;
    position: absolute;
    color: #fff;

}

.line {
    border-bottom: 1px solid #ee2e60;
    width: 700px;
    margin-top: 29%;
    position: absolute;
    font-size: 37px;
}

.pictexttwo {
    margin-top: 40%;
    margin-left: 5%;
    position: absolute;
    color: #fff;
    font-size: 14px;
}

.brand {
    width: 21%;
    margin-left: 39%;
}

.linegrey {
    border-top: 1px solid #eee;
    width: 100%;
}
.linegreybottom{
    border-bottom: 1px solid #eee;
    width: 100%;
}

.titles {
    font-weight: 600;
    font-size: 18px
}

.subtitles {
    font-weight: 400;
    font-size: 14px
}
.formborder{
    border:2px solid black;
    height: 40px;
    width: 320px;
}
.submitbutton{
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 40px;
    width: 112px;
}

.textlinks a {
    color: #ee2e5f;
    text-decoration: none;
    background-color: transparent;
}
.video {
    background-color: #f0f0f0;
}
.titletwo{
    text-align: center;
    color: #ee2e60;
}
.sect2 {
    background-color: #ffffff;
    width: 1000px;
    height: 395px;
}

.sect3 {
    background-color: #ee2e60;
    height: 50px;
    text-align: center;
}

.col-sm-8 {
    padding: 0px;
}
.bottomlist{
    text-align: center;
}
.backgroundgrey{
    background-color: #f0f0f0
}
.bottomlist li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff !important;
}

ul{
    list-style-type: none;
}


@media (max-width: 760px) {
    .bylinepic {
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #999;
        text-align: left;
        font-weight: 400;
        margin-top: 26%;
        margin-left: 5%;
        position: absolute;
    }

    .pictext {
        margin-left: 5%;
        position: absolute;
        color: #fff;
        margin-bottom: 20px !important;

    }

    .pictexttwo {
        margin-top: 40%;
        margin-left: 5%;
        position: absolute;
        color: #fff;
        display: none;
        font-size: 14px;
    }

    .line {
        border-bottom: 1px solid #ee2e60;
        width: 300px;
        margin-top: 28%;
        position: absolute;
    }
}
.fa {
    font-size: 18px;
    height: 40px;
    width: 38px;
    border-radius: 54%;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 8px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 12px !important;
    margin-right: 5px !important;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 12px !important;
    margin-right: 5px !important;
}

.fa-google {
    background: #dd4b39;
    color: white;
    padding: 12px !important;
    margin-right: 5px !important;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    padding: 12px !important;
    margin-right: 5px !important;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 12px !important;
    margin-right: 5px !important;
}
.title-color a{
    color: #3a3a3a;
}
a{
    color: #3a3a3a;
}
a:hover{
    text-decoration: none;
    color:#ee2e60 !important;
}

.margin-right {
    margin-right: 222px;
    margin-left: 20px;
    text-align: left;
}

/*social media share*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
    background-color: #c23321;
    border-color: #c23321;
}

.resp-sharing-button--tumblr {
    background-color: #35465C;
    border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
    background-color: #222d3c;
    border-color: #222d3c;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
    background-color: #bd081c;
    border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
    background-color: #8c0615;
    border-color: #8c0615;
}

/*Endsocial media share*/

@media only screen and (max-width: 600px) {
    .line {
        border-bottom: 1px solid #ee2e60;
        margin-top: 28%;
        position: absolute;
        font-size: 25px;
    }
    .pictext {
        margin-left: 5%;
        color: #fff;
    }
    .bylinepic {
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #999;
        text-align: left;
        font-weight: 800;
    }
    .leisure {
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fcfcfc;
        text-align: left;
        font-weight: 400;
        position: absolute;
        margin-top: 74%;
        margin-left: 7%;
    }
    [class*="col-md-6 footer"] {
        width: 100%;
    }
    .travel {
        position: absolute;
        margin-top: 86%;
        padding: 1% 10% 20px;
        margin-left: 0;
        background: #ee2e60;
        width: 100%;
    }
    .traveltwo {
        position: absolute;
        margin-top: 79%;
        padding: 1% 10% 20px;
        margin-left: 0;
        background: #ee2e60;
        color: #fff;
        width: 100%;
    }

    .sect3 {
        background-color: #ee2e60;
        height: 100px;
        text-align: center;
    }
    .margin-right {
        margin-right: 0px;
        margin-left: 20px;
        text-align: left;
    }
}

.video-wrap {
    text-align: center;
    z-index: 1;
}

.video iframe {
    max-width: 100%;
    max-height: 100%;
}

.video.stuck {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 245px;
    z-index: 1;
    animation: fade-in-up .25s ease forwards;
}
