@font-face {font-family: "Futura Md BT";
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot");
    src: url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/eed3e25fcebee219b159478c4e167fd0.svg#Futura Md BT") format("svg");
}

@font-face {
    font-family: Futura Md BT;
    src: url("https://www.standardmedia.co.ke/evewoman/eve/assets/fonts/futura_medium_bt.ttf");
}

@media (max-width: 767px) {
    .btn-container {
        margin-top: 2rem
    }
}
.cb-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: ;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: Futura Md BT;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 26px;
    color: white;
}
.vidtitle{
    font-size: 32px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-dark .navbar-nav .nav-link .logosmall:hover {

}
@media (max-width: 767.98px) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
    .col-lg-3{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }}
@media (max-width: 991px) {
    .btn-container > .btn, .btn-container > .btn-group {
        margin-bottom: 1rem}
.logo {
    width: 130px;
    padding: 0;
    margin: -15px 0 0 0;
    height: 83px;
    object-fit: cover;
}.logomob {
    width: 180px;
    padding: 9px 0;
    /* height: 76px; */
}
.btn-group .text-white, .btn-group .btn-facebook {
    color: #ed008c !important;
    font-size: 16px;
    border: 1px solid;
    border-radius: 50% !important;
    padding: 3px;
    height: 32px;
    width: 32px;
    background: transparent;
    margin: 0 8px 0 0;
}
    
    .btnred {
        width: max-content;
        font-size: 12px !important;
        font-weight: 900;
        padding: 5px 19px;
    }.flare1 {
        position: absolute;
        margin: 12px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0%;
        width: 57%;
    }.tops {
        font-size: 33px  !important;
        color: #ffffff !important;
        padding: 43px 0 0;
    }.smallr {
        position: absolute;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 150px;
        object-fit: cover;
    }
    .order-lg-12 .col-md-7 img  {
        height: 200px !important;
        object-fit: cover;
    }.order-lg-12 .col-md-5 img  {
        height: 150px;
        object-fit: cover;
    }.order-lg-12 .col-md-5  {
        width: 47% !important;
     }.order-lg-12 .col-md-7  {
        width: 50% !important;
     }.flare {
        position: absolute;
        right: 0;
        margin: 0;
        position: absolute;
        top: 25px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 34%;
    }
    .spotlight {
        top: -230px;
        padding: 166px 0 0 !important;
        margin-bottom: -305px;
    }
    .embed-responsive {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
        height: 300px;
    }
    .psmall {
        top: -280px;
        padding: 252px 0 30px !important;
        margin-bottom: -310px;
    }.bg-size--cover {
        background-size: inherit !important;
        background-repeat: no-repeat;
    }.live {
        height: 386px;
        width: 100% !important;
    }
}
.header {
    width: 100%;
    color: #FFFFFF;
    padding: 0 30px 0 2rem;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: transparent;
    border-bottom: 1px solid #e9ecef
}
.sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    padding: 0 0.5rem 0.5rem 1.5rem;
    height: 100%;
    overflow: hidden;
    z-index: 1050;
    background-color: #fff;
    border-right: 1px solid #e9ecef
}/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenavMob {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(41deg, rgba(251,194,17,1) 0%, rgba(244,11,128,1) 49%, rgba(57,35,118,1) 100%);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}
body{
    font-family: Futura Md BT;
}
.nav-pills{
    padding: 0 0 0 20px;
}.footer-widget h3 {
    font-size: 26px;
    font-family: Futura Md BT;
    font-weight: 700;
}.footer-widget p {
    font-size: 17px;
    line-height: 20px;
}
  #mySidenavMob a {
      color: #eaeaea!important;
      text-decoration: none !important;
  border-bottom: 2px solid #dedede42;
      padding: 6px 8px 6px 3px!important;
      margin-left: 32px;
  }
  ul{
  list-style-type: none !important;
  }
  .sidenav a{
  
      color: #eaeaea;
    display: block;
  }
  
  #mySidenav a {
      color: #d2d0d0;
  }
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #252525;
      display: block;
      transition: .3s;
  }
  .sidenav a {
      margin-left: 0;
      border-bottom: 2px solid #363636;
  }
  .navbar-expand-md {background: rgb(251,194,17);
  background: white;
}
  .navbar {
    padding:0rem;
    margin-bottom:2rem;
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
   }
  
  
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
      border-radius:0;
     }
 
  }
     @media (min-width: 1468px) {  
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
          border-radius:0;
         }
         .icons {
            position: relative;
            right: -75px;
            top: 31px;
        }
        }
@media (min-width: 992px) {
    .btn-container > .btn, .btn-container > .btn-group {
        margin-right: 1.5rem;
        margin-bottom: 1rem
    }
}

@media (min-width: 1200px) {
    .content:not(.content--boxed):not(.content--full) {
        padding: 0 0 0 240px
    }
}

@media (min-width: 576px) and (max-width: 1199px) {
    .content:not(.content--boxed):not(.content--full) {
        padding: 102px 30px 0
    }
}

@media (max-width: 575px) {
    .content:not(.content--boxed):not(.content--full) {
        padding: 87px 15px 0
    }.sidenav a {
        padding: 6px 8px 6px 31px;
        text-decoration: none;
        font-size: 12px;
        color: #252525;
        display: block;
        transition: .3s;
    }
}
.navheading {
    color: #e31818!important;
    background: #1f1f1f;
}
@media (min-width: 576px) {
    .content--full {
        padding: 102px 30px 0
    }
}


.content-inner {
    margin: auto;
    padding: 30px 15px
}

.content-inner .example {
    margin-bottom: 5rem
}

@media (max-width: 767px) {
    .content-inner .example .btn {
        margin-bottom: 1rem
    }
}

.header {
    width: 100%;
    height: 72px;
    color: #FFFFFF;
    padding: 0 30px 0 2rem;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: #FFF;
    border-bottom: 1px solid #e9ecef
}

@media (max-width: 1199px) {
    .header {
        position: fixed
    }
}

@media (max-width: 575px) {
    .header {
        padding-left: 15px;
        padding-right: 15px
    }
    .nside .no-gutters {
        border-bottom: 1px solid darkgrey;
        margin-bottom: 10px;
        padding: 20px 0;
    }
    .nside .card-img {
        width: 100%;
        border-radius: calc(.375rem - .0625rem);
        height: auto !important;
        object-fit: cover;
    }
}

.header::after {
    display: block;
    content: "";
    clear: both
}

.header .body-backdrop {
    position: absolute
}

.navigation-trigger {
    float: left;
    padding: 2rem 2rem 2rem 2.4rem;
    margin-left: -2rem
}

.navigation-trigger:hover {
    cursor: pointer
}

.navigation-trigger.toggled .navigation-trigger-inner {
    transform: rotate(180deg)
}

.navigation-trigger.toggled .navigation-trigger-inner:before {
    transform: scale(1)
}

.navigation-trigger.toggled .navigation-trigger-line:first-child {
    width: 12px;
    transform: translateX(8px) translateY(1px) rotate(45deg)
}

.navigation-trigger.toggled .navigation-trigger-line:last-child {
    width: 11px;
    transform: translateX(8px) translateY(-1px) rotate(-45deg)
}

.navigation-trigger-inner, .navigation-trigger-line {
    width: 18px;
    transition: all 300ms
}

.navigation-trigger-inner {
    position: relative
}

.navigation-trigger-inner:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -14px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: all 300ms;
    transform: scale(0)
}

.navigation-trigger-line {
    height: 2px;
    background-color: #333;
    display: block;
    position: relative
}

.navigation-trigger-line:not(:last-child) {
    margin-bottom: 3px
}

@media (min-width: 1200px) {
    .header-brand {
        min-width: calc(270px - 2rem)
    }
}

.header-brand > h1 {
    line-height: 100%;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0
}

.header-brand > h1 > a {
    color: #999
}

.header-nav .nav-link {
    padding: 0 1rem;
    font-size: .765625rem;
    color: #adb5bd;
    transition: background-color 300ms
}

.header-nav .nav-link:hover {
    color: #343a40
}

.sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    padding: 0 0.5rem 0.5rem 1.5rem;
    height: 100%;
    overflow: hidden;
    z-index: 1050;
    background-color: #fff;
    border-right: 1px solid #e9ecef
}
.thcards .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.375rem - .0625rem);
    border-top-right-radius: calc(.375rem - .0625rem);
    height: 200px;
    object-fit: cover;
}
.side .card-img {
    width: 100%;
    border-radius: calc(.375rem - .0625rem);
    height: 116px;
    object-fit: cover;
}
.bigblue {
    color: #c6074d;
    font-weight: 800;
    font-family: Futura Md BT;
    text-transform: uppercase;
}
@media (max-width: 1199px) {
    .sidebar {
        transition: transform 300ms, opacity 300ms
    }

    .sidebar:not(.toggled) {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    .sidebar.toggled {
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.08);
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.sidebar-brand {
    height: 72px;
    padding: 1rem 0
}

.sidebar-brand > h1 {
    transform: translateY(50%);
    font-size: 1.09375rem;
    font-weight: normal;
    margin: 0
}

.sidebar-brand > h1 > a {
    color: #343a40
}

.sidebar .scrollbar-inner > .scroll-element {
    margin-right: 0
}

.sidebar--hidden {
    background-color: #FFFFFF;
    transition: transform 300ms, opacity 300ms
}

.sidebar--hidden:not(.toggled) {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
}

.sidebar--hidden.toggled {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.08);
    opacity: 1;
    transform: translate3d(0, 0, 0)
}

.navigation {
    list-style: none;
    padding: 0;
    padding-bottom: 4rem
}

.navigation .navigation-title {
    color: #adb5bd;
    font-weight: 600;
    margin: 0.875rem 0 0;
    padding: 1rem 0rem 0.875rem
}

.navigation .navigation-item {
    color: #fff;
    font-weight: 500
}

.navigation .navigation-link {
    display: block;
    padding: 0.25rem 1rem;
    color: #495057;
    font-weight: 500;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    border-radius: .375rem;
    text-decoration: none
}

.navigation .navigation-link:hover, .navigation .navigation-link.active {
    color: #288cff
}

.scrollbar-inner {
    height: 100%
}

.scrollbar-inner > .scroll-element {
    transition: opacity 300ms;
    margin-right: 2px
}

.scrollbar-inner > .scroll-element.scroll-y {
    width: 3px;
    right: 0
}

.scrollbar-inner > .scroll-element.scroll-x {
    height: 3px;
    bottom: 0
}

.scrollbar-inner > .scroll-element .scroll-bar, .scrollbar-inner > .scroll-element .scroll-element_track {
    transition: background-color 300ms
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: transparent
}

.scrollbar-inner:not(:hover) .scroll-element {
    opacity: 0
}

.page-title {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef
}

.page-title .heading {
    margin: 0;
    padding: 0;
    color: #212529
}

.page-title .heading a {
    color: #212529
}

@media (min-height: 600px) and (min-width: 767px) {
    .background-image-holder[data-holder-type="hero"] {
        height: 80vh
    }
}

.background-image-holder .holder-item {
    height: 100%;
    padding: 2rem 0
}

@media (max-width: 991px) {
    .background-image-holder .holder-item {
        height: auto;
        padding: 4rem 0
    }
}

.background-image-holder .swiper-container, .background-image-holder .container {
    position: relative;
    height: 100%
}

.background-image-holder .swiper-container .swiper-slide .animated {
    opacity: 0
}

.background-image-holder .swiper-container .swiper-slide .animated.animation-ended {
    opacity: 1
}

.bg-cover {
    position: relative
}

.bg-size--cover {
    background-size: cover;
    background-repeat: no-repeat
}

.bg-size--contain {
    background-size: contain;
    background-repeat: no-repeat
}

.typeface-palette .typeface-entry {
    position: relative;
    display: block;
    padding: 2rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: .375rem
}

.typeface-badge {
    position: absolute;
    top: 10px;
    right: 10px
}

.color-palette .color-entry {
    position: relative;
    display: block;
    height: 170px;
    color: #FFF;
    border-radius: .375rem
}

.color-palette .color-entry .color-code {
    background: #fff;
    color: #495057;
    padding: 6px 10px;
    position: absolute;
    bottom: 12px;
    right: 12px
}

.content-docs h2[id]::before, .content-docs h3[id]::before, .content-docs h4[id]::before {
    content: "";
    display: block;
    height: 3rem;
    margin-top: -3rem
}

.content-docs h2[id]:not(:first-child), .content-docs h3[id]:not(:first-child), .content-docs h4[id]:not(:first-child) {
    margin-top: 5rem
}

.content-docs h2[id], .content-docs h3[id], .content-docs h4[id] {
    margin-bottom: 2rem
}

.highlight pre {
    padding: 1.5rem;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: .375rem
}

.code-example {
    margin: 2rem 0
}

.code-clipboard {
    position: relative
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #027de7
}

.toc-entry {
    display: block
}

.toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c
}

.toc-entry a:hover {
    color: #007bff;
    text-decoration: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.eventsimgs .card-img-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.45), rgb(252, 248, 247), rgb(252, 248, 247), rgb(252, 248, 247), rgb(252, 248, 247)) !important;
}
.px90 .eventsimgs .card-img-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(249, 245, 244, 0.74), rgba(255, 255, 255, .96), rgba(249, 245, 244, 0.98), rgb(252, 248, 247), rgb(249, 245, 244), rgb(252, 248, 247), rgb(249, 245, 244)) !important;
}
.eventsimgs .card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
    z-index: 1;
}
.eventsimgs .card{

    border: none;
}
.eventsimgs .heading {
    font-family: Futura Md BT;
    font-size: 25px;
    font-weight: 800;
    color: #eb1c24;
}
.bg-black{
    background: #ed008c;
}
.bg-black a{
    color: white;
}
.eventsimgs p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 19px;
    color: #0086c8;
    font-weight: 700;
}
.eventsimgs .card-body{
    padding: 0 ;
}
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    border: none;
    padding: 2px !important;
    font: inherit;
    top: 36%;
    position: absolute;
    right: 4%;
    background: #372477;
    font-size: 35px;
    color: #f9f5f4;
    width: 44px;
    margin: 0 28px 0 0;
}
.owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    border: none;
    padding: 2px !important;
    font: inherit;
    top: 36%;
    position: absolute;
    right: 1.9%;
    background: #c2074c;
    font-size: 35px;
    color: #f9f5f4;
    width: 50px;
}
.showsimig .owl-carousel .owl-nav button.owl-next{
    background: 0 0;
    border: none;
    padding: 2px !important;
    font: inherit;
    top: 36%;
    position: absolute;
    right: 1.9%;
    background: #c2074c;
    font-size: 35px;
    color: #f9f5f4;
    width: 44px;
}
.thcards .col-lg-4{
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 0px;
      padding-left: 10px;
    margin-bottom: 20px;
  }
.play {
    position: absolute;
    width: 40px !important;
    top: 30%;
    left: 40%;
}
.catego .play {
     position: absolute;
     width: 60px !important;
     max-height: 36px !important;
     top: 30%;
     left: 40%;
 }
.catego .red {
    color: #adb5bd;
    font-weight: 600;
    font-size: 14px;
}
.catego b {
    font-weight: 500;
    color: black;
    font-size: 17px;
    line-height: 21px !important;
}
.catego .text-muted {
    float: right !important;
    font-weight: 500;
    font-size: 16px;
}
.catego .d-block {
    display: block !important;
    font-size: 15px;
    font-weight: 600;
}
.catego .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.newslettericon {
    color: #000;
    border: 2px double rgb(0, 0, 0);
    padding: 8px 11px;
    cursor: pointer;
}

body, .card-body, .card{
    background: #ffffff;
}
.pb-120 {
    padding: 57px 0 70px;
}
.footer-widget input {
    padding: 8px 10px;
    border: 2px double #000000;
}
.footer-widget h3{
    font-size: 30px;
    font-family: Futura Md BT;
    font-weight: 700;
}
.footer-widget p{
    font-size: 21px;
    line-height: 24px;
}
.bg-grey {
    background: #d2d2d2;
}
.bg-grey .nav-link{
    color: black !important;
}
.tops {
    font-size: 50px;
    color: #3a2477 !important;
}
.btnred{
    width: max-content;
    font-size: 17px;
    font-weight: 900;
}
.ns-zmua4-e-0 {
    background-color: #28527a !important;
    cursor: default;
}
.col-lg-3:first-child {
    padding-left: 0 !important;
}
.col-lg-3:last-child {
     padding-right: 0 !important;
 }
.h200 .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.375rem - .0625rem);
    border-top-right-radius: calc(.375rem - .0625rem);
    height: 200px;
    object-fit: cover;
}
.h200 .red {
    color: red;
    font-weight: bolder;
    font-size: 16px;
}
.h200 .text-muted {
    color: #adb5bd !important;
    font-size: 15px;
}
.ads {
    background: #d6d6d6;
    padding: 20px;
}
.nside .card-img {
    width: 100%;
    border-radius: calc(.375rem - .0625rem);
    height: 130px;
    object-fit: cover;
}
.nside p{
    color: #0c85d0;
}
.nside .card-body{
    padding-bottom: 0;
}
.nside .no-gutters{
    border-bottom: 1px solid darkgrey;
    margin-bottom: 10px;
}
.hedin{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 800;
    padding-left: 0;
}
.bigblues {
    color: #2d659e;
    font-weight: 700;
    font-family: Futura Md BT;
    font-size: 25px;
}
.timg{
    height: 330px;
    object-fit: cover;
}
.more {
    background: white;
    width: max-content;
    text-align: center;
    margin: auto;
    box-shadow: 0px 21px 36px #dadada;
    color: red;
    border-radius: 0;
    font-size: 19px;
    padding: 10px 20px;
    margin-top: 20px !important;
}

.reds {
    color: red !important;
    font-weight: bolder;
}
.card img {
    transition: transform .2s; /* Animation */

}
.heading .red{
    color: red !important;
}

.eventsimgs .text-muted {
    color: #561f77 !important;
    font-size: 16px;
    font-weight: 600;
}
.card img:hover {
    transform: scale(1.005); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.navbar-dark .navbar-nav .nav-link {
    color: white;

}
.border .nav-link{
    color: black !important;
}.border .bg-danger{
    color: white !important;
}
main, .footer{
 background: #ffffff;}
.px36 {
    margin-bottom: -36px;
    height: 136px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .7s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
.mt-50{
    margin: 7% 0 0;
    padding: 0 0 5%;
}
.px90  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.eventsimgs .text-muted {
    color: #c1064b !important;
    font-size: 16px;
    font-weight: 600;
}
 .eventsimgs .gred {
    color: #3d2376 !important;
    font-size: 20px;
    font-weight: 600;
} .px90 .text-muted {
    color: #c1064b !important;
    font-size: 16px;
    font-weight: 600;
}
 .px90 .gred {
    color: #3d2376 !important;
    font-size: 20px;
    font-weight: 600;
}
.home main, .home .footer {
    background-image: linear-gradient(to bottom, rgba(255, 232, 0, 0), rgba(255, 212, 0, 0), rgb(249, 245, 244), rgb(250, 246, 245), rgb(249, 245, 244), rgb(249, 245, 244), rgb(249, 245, 244));
}
.big {
    font-size: 30px;
    color: #372477;
    text-transform: uppercase;
    font-weight: 600;
}
.big strong{
    color: #c1064b;
}
.home 
.spotlight {
    top: -280px;
    padding: 166px 0 170px !important;
    margin-bottom: -310px;
}
.w-100 td{
    background: white;
   margin: 10px;
  
}
.w-100 tr {
    margin: 20px;
}
table .avatar-lg {
    width: 160px;
    height: 90px;
    font-size: .765625rem;
    object-fit: cover;
}
.dark {
    color: #39257a;
    font-weight: 700;
    font-size: 25px;
    top: 0;
    position: relative;
}
table td:first-child {
    color: #ca064d;
    font-size: 21px;
    font-weight: 700;
    width: 30%;
}table td:last-child {
    font-size: 17px;
    font-weight: 700;
    color: #ca064d;
}
table td:last-child strong {
    color: #3e2276;
    font-size: 22px;
    font-weight: 700;
}
@media (max-width: 767.98px) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
    .nav-pills .nav-link {
        padding: 1rem .1rem 0 .3rem;
        border: 1px solid #dee2e6;
        border-radius: 0;
        color: #6c757d;
        font-weight: 500;
        height: 53px;
    }.dark {
        color: #39257a;
        font-weight: 700;
        font-size: 12px;
        top: 0;
        position: relative;
    }table td:first-child {
        color: #ca064d;
        font-size: 11px;
        font-weight: 700;
        width: 30%;
    }table td:last-child strong {
        color: #3e2276;
        font-size: 13px;
        font-weight: 700;
    }table td:last-child {
        font-size: 12px;
        font-weight: 700;
        color: #ca064d;
    }.mt-50 {
        margin: 17% 0 0;
        padding: 0 0 5%;
    }.big {
        font-size: 20px;
        color: #372477;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 0 0 10px;
    }
    .owl-carousel .owl-nav button.owl-next {
        background: 0 0;
        border: none;
        padding: 2px !important;
        font: inherit;
        top: 36%;
        position: absolute;
        right: 2.5%;
        background: #c2074c;
        font-size: 27px;
        color: #f9f5f4;
        width: 37px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        background: 0 0;
        border: none;
        padding: 2px !important;
        font: inherit;
        top: 36%;
        position: absolute;
        right: 6%;
        background: #372477;
        font-size: 27px;
        color: #F9F5F6;
        width: 40px;
        margin: 0 28px 0 0;
    }.px36 {
        margin-bottom: -36px;
        height: 70px;
    }
}
.shads{
    box-shadow: 0px 18px 22px 0 #dcdcdc70;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ed008c;
}
.sticky-top .navbar-nav .nav-link {
    color: #ed008c;
}
.sticky-top .navbar-nav .nav-link:hover {
    color: #4e032f;
}
.bg-grey img{
    width: 120px;
}
.bg-lights img{
    height: 450px;
    object-fit: cover;
}
.bg-lights{
    background: #f4f4f4;
    margin-bottom: 50px;
}
.bg-lights .btn-warning{
    color: #fff;
    background-color: #ed008c;
    background-image: none;
    border-color: #ed008c;
    width: max-content;
    margin: auto;
    padding: 5px 10px;
    font-weight: 500;
}
.bg-lights h1, .bg-lights h2 {
    color: #ed008c;
    text-transform: uppercase;
}
.center {
    top: 32%;
    position: absolute;
    bottom: 0;
    padding: 0 30px;
}
.bg-lights .card-title{
    font-size: 23px;
    font-weight: 500;
}
.card-deck .card img {
    transition: transform .2s;
    height: 250px;
    object-fit: cover;
}
.px323 .card img {
    transition: transform .2s;
    height: 323px;
    object-fit: cover;
}
.card-img-overlay {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.43), 
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.81)) !important;
}
.bg-yellow {
    background: rgb(238, 46, 37);
    height: 0px;
}
.bg-yellow {
    background-color: #ee2e25 !important;
}
.card-img-overlay .text-white {
    color: #ffffff !important;
    font-size: 28px;
}
.card-img-overlay .card-text:last-child {
    margin-bottom: 0;
    font-size: 17px;
    font-family: Futura Md BT;
    font-weight: 600;
}
.card-title {
    margin-bottom: 1.25rem;
    font-size: 27px;
    letter-spacing: 1.7px;
}
.card-deck .card-title {
    margin-bottom: 1.25rem;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.7px;
}
.px500{
    height: 400px;
    object-fit: cover;
}
.btn-group .text-white, .btn-group .btn-facebook {
    color: #ed008c !important;
    font-size: 16px;
    border: 1px solid;
    border-radius: 50% !important;
    padding: 4px;
    height: 35px;
    width: 35px;
    background: transparent;
    margin: 0 20px 0 0;
}
.list-group-heading {
    font-size: .875rem;
    color: #ed008c;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.list-group-heading span{
    font-size: .875rem;
    color: #a2a2a2;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: 1.5px;
}.list-group-content > p {
    color: #292929;
    line-height: 1.5;
    margin: .2rem 0 0;
    font-family: Futura Md BT;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.card-footer span{
    font-size: .875rem;
    color: #a9a9a9;
    text-transform: uppercase;
    margin-left: 10px;
}
    .card-footer 
.list-group-heading  {
    font-size: .7rem !important;
}
@media (max-width: 767px) {
    .content--full {
        padding: 87px 15px 0
    }
    .px90 {
        width: 99% !important;
        margin: auto;
        padding: 62px 0;
    }.center {
        top: 7% !important;
        position: absolute;
        bottom: 0;
        padding: 0 0px !important;
    }.bg-lights .card-title {
        font-size: 14px;
        font-weight: 500;
    }.bg-lights img {
        height: 340px;
        object-fit: cover;
    }.bg-lights h1, .bg-lights h2 {
        color: #ed008c;
        text-transform: uppercase;
        font-size: 20px;
    }.pl-4, .px-4 {
        padding-left: 0.5rem !important;
    }
    .pr-4, .px-4 {
        padding-right: 0.5rem !important;
    }
    .backg{
        position: absolute;
        top: -74px;
        width: 100%;
        padding: 37px 0;
        background: #000000bf !important;
    }.logo {
        width: 130px;
        padding: 0;
        margin: -15px 0 0 0;
        height: 83px;
        object-fit: cover;
        display: none !important;
    }
    .navbar-toggler .text-white {
        color: #ed008c !important;
    }
    .btn-group .text-white, .btn-group .btn-facebook {
        color: #ed008c !important;
        font-size: 16px;
        border: 1px solid;
        border-radius: 50% !important;
        padding: 3px;
        height: 32px;
        width: 32px;
        background: transparent;
        margin: 0 8px 0 0;
    }
    .icons {
        display: none;
    }
    .mt-50, .px323, .bg-lights{
        padding: 0 0 5% 3%;
    }
}
@media (min-width:500px) and (max-width:992px){
    .card-deck {
        display: block;
        flex-direction: column;
    }
    .card-deck img{
        height: auto !important;
    }
    .card-deck .card-title {
        margin-bottom: 1.25rem;
        font-size: 35px !important;
        font-weight: 400;
    }
    .card-footer .list-group-heading,
    .card-footer .list-group-heading span {
        font-size: 1.3rem !important;
    }
    .center {
        top: 6%;
        position: absolute;
        bottom: 0;
        padding: 0 0;
    }
    .bg-lights .card-title {
        font-size: 22px;
        font-weight: 500;
    }
    .px90 {
        width: 95%;
        margin: auto;
        padding: 62px 0;
    }
    h1, .h1 {
        font-size: 2rem;
        font-weight: 800;
    }
    .mt-50 .col-md-8, 
    .mt-50 .col-md-4 {
        flex: 0 0 99.666667%;
        max-width: 99.666667%;
    }
    .list-group-content > p {
        color: #292929;
        line-height: 1.5;
        margin: .2rem 0 0;
        font-family: Futura Md BT;
        font-size: 30px;
        letter-spacing: 1.5px;
    }
}
.border .nav-link{
    border: 1px solid;
    
    padding: 0px 7px !important;
}
.card-img-overlay .list-group-heading {
    font-size: .875rem;
    color: #ed008c;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}.card-img-overlay .list-group-heading span {
    font-size: .875rem;
    color: #b7b7b7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.card-img-overlay p {
    font-size: 16px;
    color: #b7b7b7;
}
.decks .card-deck img{
    height: 180px !important;
}.decks .card-deck .card-title{
    color: white ;
}
.decks .card-deck .card-body{
    background: #ee2e61 !important;
    padding: 20px 10px;
}
.bgrey, .decks{
    padding: 50px 0;
    background: #f3f1f2;
    margin: 30px 0;
}
.bgrey .card-body, 
.bgrey .card-footer{
    padding: 10px 0 5px 0 !important;
    background: #f3f1f2 !important;
}
.bgrey .list-group-heading span {
    font-size: .875rem;
    color: #a2a2a2;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 1.5px;
}
.bgrey .card-deck .card:last-child{
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.bg-lights .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 500px;
}